.blog {
    margin-top: 100px;
    color: #ffffff;
}

.blog .achievements {
    border-right: solid #ffffff9a 2px;
    border-bottom: solid #ffffff9a 2px;
}

.blog_block1 {
    margin-top: 50px;
    padding-left: 15px;
    border-bottom: solid #ffffff9a 2px;
    border-left: solid #ffffff9a 2px;
}

.blog_block2 {
    margin-top: 50px;
    padding-left: 15px;
    border-right: solid #ffffff9a 2px;
    border-bottom: solid #ffffff9a 2px;
}

.blog h2 {
    font-size: 60px;
}

.blog p {
    padding: 10px 0;
    font-size: 25px;
}


