.wrapper {
    color: #ffffff;
}

.wrapper h2 {
    border-bottom: solid #ffffff 2px;
}

h2 {
    margin-top: 50px;
}

.lineup {
    margin-top: 25px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.car {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 200px;
    overflow: hidden;
}

.car a {
    margin-top: 50%;
    padding: 5px 0px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #000000;
}